* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #ff0fbd;
  --main-color-dark: #b60b85;
}
html {
  /* 10px as default */
  font-size: 62.5%;
}
body {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
}
ul {
  list-style: none;
}
.container {
  width: 80%;
  margin: 5rem auto;
  padding: 0 0 5rem 0;
  border-bottom: 1px solid #eee;
}
.flex {
  display: flex;
}
.space-betwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ############################## */
/* level ( 3 ) */
/* ############################## */
.landing {
  width: 100%;
  height: 100vh;
  background-image: url("../images/landing1.jpeg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: bottom;
  position: relative;
  color: #fff;
}
.landing-container {
  background: #0000009e;
  padding: 0 4rem;
  position: relative;
}
.landing-navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.landing-navbar .logo {
  font-size: 4rem;
  margin-right: 4rem;
  color: var(--main-color);
}
.menu-icon {
  display: none;
  font-size: 2.5rem;
}
.nav {
  flex: 1;
  position: relative;
}
.links {
  flex: 0.5;
  opacity: 1;
}
.links li {
  font-size: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}
.links li:hover {
  color: var(--main-color);
}
.products-list {
  position: absolute;
  background: #fff;
  color: #000;
  width: 10rem;
  top: 100%;
  padding: 1rem;
  display: none;
  pointer-events: none;
  box-shadow: 0px 0px 7px rgb(0 0 0 / 50%);
  transition: 0.3s;
}
.block {
  display: block !important;
}
.links li .icon {
  margin-left: 0.3rem;
  font-size: 1.2rem;
}
.icons {
  flex: 0.5;
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding: 0 2rem;
  font-size: 1.4rem;
}
.cart-icon-container {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.cart {
  color: var(--main-color);
}
.cart-icon-container:hover {
  transform: scale(1.1);
}
.cart-items-num {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-content {
  position: absolute;
  top: 100%;
  right: 4rem;
  padding: 2.5rem 2.5rem 1rem;
  background: #fff;
  color: #000;
  z-index: 5;
  opacity: 0;
  box-shadow: 0px 0px 7px rgb(0 0 0 / 50%);
  transition: opacity 0.7s;
  pointer-events: none;
}
.is_open {
  opacity: 1 !important;
  pointer-events: all !important;
}
.cart-content::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 2rem;
  border: 0.5rem solid #fff;
  border-color: transparent transparent #fff transparent;
}
.cart-title {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}
.list-items {
  max-height: 32rem;
  overflow: auto;
}
.item {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
}
.item-content {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.img-container {
  max-width: 12rem;
}
.img-container img {
  max-width: 100%;
}
.item .item-discribtion {
  font-size: 1.4rem;
  width: 28rem;
}
.actions {
  display: flex;
  justify-content: space-between;
  width: 9rem;
  align-items: center;
}
.actions button {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  border: 2px solid #222;
  cursor: pointer;
  transition: 0.3s;
}
.actions button:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.item-count {
  font-size: 1.5rem;
  font-weight: 700;
}
.old-price {
  text-align: center;
  color: #a3a3a3;
  font-size: 1.3rem;
  position: relative;
  top: 0.5rem;
}
.price {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 2rem;
}
.remove-item {
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
}
.remove-item:hover {
  color: #000;
}
.order-action {
  padding: 2rem 0rem;
  align-items: center;
  display: flex;
  gap: 2.5rem;
}
.truck-icon {
  transform: rotateY(180deg);
  color: #999;
  font-size: 2.3rem;
  margin-right: 2rem;
}
.order-action h4 {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.2;
  width: 50%;
}
.order-action .mark {
  color: #000;
}
.btn-buy {
  font-size: 1.3rem;
  text-transform: uppercase;
  background: var(--main-color);
  border: navajowhite;
  color: #fff;
  padding: 1.5rem 2.5rem;
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.btn-buy::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  border: 1rem solid;
  border-color: transparent var(--main-color) var(--main-color) transparent;
}
.btn-buy:hover {
  background-color: var(--main-color-dark);
}
.btn-buy .icon {
  font-size: 1rem;
  margin-left: 0.5rem;
}
/* ********** */
.text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.637);
}
@media (max-width: 868px) {
  .links {
    flex: 1;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 626px) {
  .links {
    opacity: 0;
    pointer-events: none;
    display: flex;
    background: #fff;
    color: #333;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
  }
  .products-list {
    box-shadow: none;
    position: relative;
    background: #fff;
    color: #000;
    padding: 1rem;
    pointer-events: none;
    transition: 0.3s;
  }
  .menu-icon {
    display: block;
  }
  .icons {
    flex: 1;
  }
}
@media (max-width: 505px) {
  html {
    font-size: 8px;
  }
  .links {
    flex: 1;
  }
  .cart-content {
    width: 50rem;
  }
  .btn-buy {
    display: flex;
  }
}
@media (max-width: 435px) {
  html {
    font-size: 7px;
  }
  .cart-content {
    width: 45rem;
  }
}
@media (max-width: 360px) {
  .cart-content {
    width: 45rem;
  }
}
/* ############################## */
/* level ( 1 ) */
/* ############################## */
.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
}
.box {
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}
.box .header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem 1.5rem;
}
.bg-blue {
  background-color: rgba(0, 110, 255, 0.674);
}
.bg-orange {
  background-color: rgba(208, 45, 0, 0.801);
}
.bg-green {
  background-color: rgba(7, 209, 0, 0.797);
}
.box .header h3 {
  font-size: 1.8rem;
  color: #fff;
}
.box .header .num {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.box p {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
/* ############################## */
/* level ( 2 ) */
/* ############################## */
.level_2 .title {
  position: relative;
  font-style: italic;
}
.level_2 .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0.1rem;
  background: linear-gradient(45deg, #999, transparent);
}

.header2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bg-ice {
  background-image: url("../images/images\ \(8\).jpeg");
}
.bg-fire {
  background-image: url("../images/images\ \(6\).jpeg");
  background-position: center;
}
.bg-nature {
  background-image: url("../images/images\ \(10\).jpeg");
  background-position: center;
}
.header2 h3 {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: #fff;
}
.box-icon {
  margin-right: 1rem;
}
.level_2 .num2 {
  width: 5.5rem;
  min-height: 5rem;
  background-color: #00000057;
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  border-top-right-radius: 10px;
  backdrop-filter: blur(0.8px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-ice {
  background: #e1f8ff;
  border-bottom: 0.3rem solid #3e9bb7;
}
.box-fire {
  background-color: #f9e4e4;
  border-bottom: 0.3rem solid #f37e7e;
}
.box-nature {
  background-color: #daffda;
  border-bottom: 0.3rem solid #029302;
}
.tags {
  margin: 1rem 0 2rem;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.tag {
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 7px;
  display: inline;
  padding: 0.4rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.15);
}
.level_2 p {
  padding: 2rem 2rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
